body {
    padding: 10px;
    background-color: lightcyan
  }
  
  .carousel {
    position: relative;
    width: 400px;
    padding: 10px 40px;
    margin: 0 auto;
    border: 5px solid #CCC;
    border-radius: 15px;
    background: rgb(255, 216, 216);
  }
  
  .carousel img {
    width: 130px;
    height: 130px;
    display: block;
  }
  
  .arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 3px solid black;
    font-size: 24px;
    line-height: 24px;
    color: black;
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }
  
  .prev {
    left: 7px;
  }
  
  .next {
    right: 7px;
  }
  
  .gallery {
    width: 390px;
    margin: auto;
    overflow: hidden;
  }
  
  .gallery ul {
    height: auto;
    width: 9999px;
    margin: auto;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
  }
  
  .gallery li {
    display: inline-block;
  }